:root {
    --night: #151515;
    --eerie-black: #222222;
    --anti-flash-white: #EEEEEE;
    --tropical-indigo: #A88BFA;
    --blue-violet: #7C3AED;
}


/* general */


* {
    font-family: "Barlow Condensed", serif;
    box-sizing: border-box;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: var(--night);
    background : -moz-linear-gradient(35.39% 64.49% 60.19deg,rgba(26, 26, 26, 1) 0%,rgba(0, 0, 0, 1) 100%);
    background : -webkit-linear-gradient(60.19deg, rgba(26, 26, 26, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background : -webkit-gradient(linear,35.39% 64.49% ,92.09% 8.27% ,color-stop(0,rgba(26, 26, 26, 1) ),color-stop(1,rgba(0, 0, 0, 1) ));
    background : -o-linear-gradient(60.19deg, rgba(26, 26, 26, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background : -ms-linear-gradient(60.19deg, rgba(26, 26, 26, 1) 0%, rgba(0, 0, 0, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A1A1A', endColorstr='#000000' ,GradientType=0)";
    background : linear-gradient(29.81deg, rgba(26, 26, 26, 1) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A1A1A',endColorstr='#000000' , GradientType=1);
}

h1, h2, h3, h4, p {
    color: var(--anti-flash-white);
}

.not-skills {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.section-title {
    font-family: "Abril Fatface", serif;
    /* text-transform: capitalize; */
    text-align: center;
    font-size: 4rem;
    width: 100%;
    padding-bottom: 2rem;
}

main {
    position: relative;
}


/* nav */

.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    width: 100%;
    padding: 1rem;
    /* position: relative; */
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0);

    transition: background-color 0.4s ease-in-out;
}

.navbar.scrolled {
    background-color: var(--night);
}

nav {
    position: relative;
}

.nav-items {
    list-style: none;
    position: absolute;
    display: inline-block;
    right: 0;
}

.nav-items li {
    display: inline-block;
    text-transform: capitalize;
    margin-left: 0.7em;
}

.nav-items li a, nav a {
    font-family: "Bebas Neue", serif;
    color: var(--anti-flash-white);
    text-decoration: none;
}


/* home */

.home-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(assets/BG/1x/arrowrain.png);
    background-size: cover;
    opacity: .3;
    z-index: -2;
}

.home-wrapper {
    position: relative;
    padding: 2.5rem 0 3rem 0;
}

.top-triangle {
    position: absolute;
    top: 0;
    right: 0;
    width: 10.5rem;
    z-index: -1;
    fill: var(--blue-violet);
}

.pfp-container {
    width: 100%;
    margin: 0 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile-picture {
    /* border: 3px solid var(--tropical-indigo);
    border-radius: 50%;
    width: calc(90% - 6px); */
    width: 100%;
    background-size: cover;
    filter: grayscale() brightness(75%);
    clip-path: polygon(10% 0%, 100% 50%, 80% 94%, 0% 85%);
}

.title-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
    bottom: 0;
}

.title-wrapper p {
    padding-top: 0rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.dev {
    font-family: "Abril Fatface", serif;
    /* text-transform: capitalize; */
    position: relative;
    font-size: 6.75rem;
    z-index: 10;
}

.dev::before {
    content: "dev.";
    position: absolute;
    top: 2rem;
    left: 0;
    color: var(--blue-violet);
    z-index: -1;
}

.home-content {
    text-align: left;
    padding-bottom: 3rem;
    padding-top: 1rem;
    position: relative;
    display: flex;
}

.home-content .content {
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 1rem;
    max-width: 55%;
}

.scroll-down-wrapper {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-text-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-text-wrapper p {
    font-weight: 600;
    font-size: 1.4rem;
    white-space: nowrap;
    flex-shrink: 0;
    position: relative;
}

.scroll-text-wrapper p::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.4rem;
    height: 0.3rem;
    width: 100%;
    background-color: var(--anti-flash-white);
}

.scroll-down-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.scroll-down-arrow::after {
    content: url(assets/SVG/google-material-arrow-down-purple.svg);
    width: 100%;
    position: absolute;
    top: -.6rem;
    left: 0;
    fill: var(--blue-violet);
    z-index: -1;
}

.arrow-resizer {
    padding: 1rem;
    padding-top: 1.5rem;
}


/* skills */


.hex-container {
    overflow: hidden;
    padding: 7rem 0;
    margin-top: -6rem;
}

.carousel {
    transform: translateX(-4.5em) translateY(4rem);
    rotate: 30deg;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    width: 160%;
    > * {
      flex: 0 0 100%;
    }
    &:hover .group {
        animation-play-state: paused;
    }
}

.card {
    aspect-ratio: cos(30deg);
    clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
    background-color: var(--blue-violet);
    width: 8rem;
    color: white;
    padding: 20px;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
}

.group {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    will-change: transform; /* We should be nice to the browser - let it know what we're going to animate. */
    animation: scrolling 10s linear infinite;
}

/* projects */

.project-imgs img {
    max-width: 100%;
}

/* contact */



/* footer */



/* animatio */

@keyframes navScroll {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100%{
        background-color: var(--night);
    }
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
  }

